<body>
    <div class="header">
        <a href="{{ site.blog_url }}">
        <h1>
            desgard.com
        </h1>
        </a>
    </div>
    <div class="container">
        <div style="text-align:center;clear:both;">
            <section class="slider">
                {% for post in site.posts %}
                    {% include proj-preview.html %}
                {% endfor %}
                <nav class="slider__nav">
                    <button class="button button--nav-prev"><i class="icon icon--arrow-left"></i><span class="text-hidden">Previous product</span></button>
                    <button class="button button--zoom"><i class="icon icon--zoom"></i><span class="text-hidden">View details</span></button>
                    <button class="button button--nav-next"><i class="icon icon--arrow-right"></i><span class="text-hidden">Next product</span></button>
                </nav>
            </section>
            <section class="content">
                {% for post in site.posts %}
                    {% include proj-detail.html %}
                {% endfor %}
                <button class="button button--close">
                    <i class="icon icon--circle-cross"></i>
                    <span class="text-hidden">Close content</span>
                </button>
            </section>
        </div>
    </div>
    {% include script.html %}
</body>