<div class="slide slide--current" data-content="content-1">
    <div class="slide__mover">
        <div class="zoomer flex-center">
            <img class="zoomer__image" src="{{ site.image_url }}{{ post.device }}.png" alt="iPhone" />
            <div class="preview">
                <img src="{{ site.image_url }}{{ post.preview_image }}" alt="{{ post.device }} app preview" />
                <div class="zoomer__area zoomer__area--size-2"></div>
            </div>
        </div>
    </div>
    <h2 class="slide__title">
        <span>{{ post.title }}</span>
    </h2>
</div>